.repos-and-pag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  margin: 0px;
}

.listOfRepos {
  display: flex;
  flex-direction: column;
  row-gap: 2vw;
}

.repo {
  height: auto;
  padding: 4% 1% 4% 5%;
  background-color: #ffffff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.repo p {
  margin: 0px;
}

.repo a {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  color: #0064EB;
  margin-bottom: 4%;
}

.repo a:visited {
  color: #0047a5;
}

.pagination {
  margin-top: 3%;
}

.pagination ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  column-gap: 1%;
}

.pagination a {
  height: 30px;
  width: 25px;
  color: #808080;
  font-weight: 500;
  font-size: 14px;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination a:hover {
  color: #0064EB;
  background-color: rgb(219, 238, 255);
  cursor: pointer;
}

.selected a {
  background-color: #0064EB;
  color: #ffffff;
  border-radius: 10%;
}

.selected a:hover {
  background-color: #0049a8;
  color: #ffffff;
}

@media (max-width: 700px) {
  .listOfRepos {
    row-gap: 5vw;
  }

  .repo {
    padding-left: 20px;
  }

  .repo a {
    font-size: 20px;
    margin-bottom: 8%;
  }

  .pagination {
    margin-top: 4%;
  }

  .pagination ul {
    justify-content: center;
    padding-left: 0%;
  }
}