body {
  margin: 0px;
  font-family: 'Inter', sans-serif;
}

html, body, #root {
  height: 100%;
}

.page-container {
  height: 85%;
}

header {
  background-color: #0064EB;
  display: flex;
  align-items: center;
  height: 13.4%;
  min-height: 50px;
}

header img {
  margin: 0px 3%;
}

header input {
  height: 39px;
  width: 33vw;
  border-radius: 6px;
  font-size: 14px;
  background: url('./image1.png') no-repeat scroll 13px 13px;
  background-color: aliceblue;
  padding-left: 39px;
  border: none;
  outline:none;
}

header input:focus {
  border: 2px solid rgb(224, 4, 224);
}