.is-container {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 10px;
}

.is-container p {
  color: #808080;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  text-align: center;
}