.profile-container {
  height: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 3% 5%;
}

.picture-and-name {
  width: 30%;
  min-width: 240px;
  display: flex;
  flex-direction: column;
}

.photo {
  width: 100%;
}

.photo img {
  width: 100%;
  border-radius: 50%;
}

.names {
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}

.names h2, .names p {
  margin: 0px;
}

.names a {
  color: #0064EB;
  text-decoration: none;
}

.fans {
  min-height: 60px;
  margin-top: 1vw;
  display: flex;
  justify-content: space-between;
}

.followers, .following {
  width: 50%;
  display: flex;
  align-items: center;
  column-gap: 5%;
}

.repos {
  width: 100%;
  padding-left: 100px;
  padding-left: 8%;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .profile-container {
    flex-direction: column;
  }
}